PORT=1234
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=whiteboard-collab
JWT_SECRET=generate-your-own-64-char-hex-secret>
SOCKET_PORT:3001

CLIENT_ORIGIN=http://localhost:5173
